<hr style="height:10px"> 
 
<div class='container2'>
	<h1>Intelig√™ncia Artificial - CSI457 - Turma 11</h1>
    <h2>UFOP - DECSI</h2>
</div>
<p><b>Doscente</b>:Talles Henrique de Medeiros</p>
<p><b>Discentes</b>: Kevin Lucas de Oliveira Brito - 19.1.8022, Lucas Brazzarola Lima - 19.1.8065</p>


<hr style="height:5px"> 
    
<h2>An√°lise e Prepara√ß√£o dos Dados: Abandono e Sucesso Acad√™mico dos Alunos</h2>

<hr style="height:2px">

# Tratamento e An√°lise de Dados para Modelagem de Machine Learning

Este trabalho tem como objetivo explorar e preparar uma base de dados escolhida para a constru√ß√£o de modelos de Machine Learning. Para atingir esse prop√≥sito, seguir-se-√° um conjunto de etapas fundamentais visando a qualidade e efic√°cia dos modelos a serem desenvolvidos.

üìä Tratamento da Base de Dados:

- A primeira etapa consiste no tratamento da base de dados. Isso inclui a normaliza√ß√£o dos dados, remo√ß√£o de atributos irrelevantes e a verifica√ß√£o de valores ausentes. A normaliza√ß√£o √© crucial para garantir que todas as vari√°veis tenham a mesma escala, evitando assim o vi√©s do modelo em dire√ß√£o a caracter√≠sticas espec√≠ficas. A remo√ß√£o de atributos irrelevantes contribui para a simplifica√ß√£o do modelo, focando apenas nas vari√°veis mais significativas. A detec√ß√£o e tratamento de valores ausentes s√£o essenciais para evitar distor√ß√µes nos resultados.

üìà An√°lise Estat√≠stica:

- A segunda etapa compreende a apresenta√ß√£o de estat√≠sticas b√°sicas. Ser√£o calculadas a m√©dia e a vari√¢ncia de cada atributo, proporcionando uma compreens√£o mais profunda da distribui√ß√£o dos dados. Al√©m disso, ser√° gerado um histograma para cada atributo, proporcionando uma representa√ß√£o visual das distribui√ß√µes. A identifica√ß√£o de outliers, ou exce√ß√µes, ser√° realizada para garantir a qualidade dos dados utilizados na constru√ß√£o dos modelos.

üîÄ Divis√£o do Conjunto de Dados:

- A terceira etapa envolve a separa√ß√£o do conjunto de dados em tr√™s subconjuntos distintos: treinamento (60%), valida√ß√£o (20%) e teste (20%). Essa divis√£o estrat√©gica permite avaliar a performance dos modelos em diferentes fases, garantindo sua generaliza√ß√£o e efici√™ncia.

üèãÔ∏è‚Äç‚ôÇÔ∏èüßæ Treinamento e Valida√ß√£o dos Modelos:

- A quarta etapa compreende o treinamento dos modelos. Cada modelo ser√° treinado com o subconjunto de treinamento, e o subconjunto de valida√ß√£o ser√° utilizado para interromper o treinamento quando o erro n√£o apresentar mais redu√ß√£o significativa. Essa abordagem visa evitar o overfitting, garantindo que os modelos sejam capazes de generalizar bem para novos dados.

üìäü§ñ Avalia√ß√£o dos Modelos:

- Por fim, a quinta etapa consiste na avalia√ß√£o dos modelos. Utilizando o conjunto de teste, ser√£o calculadas m√©tricas como acur√°cia e matriz de confus√£o. Al√©m disso, ser√° identificada a quantidade ideal de camadas e neur√¥nios por camada na rede MLP, otimizando assim a arquitetura do modelo para o conjunto de dados em quest√£o.

---
## üõ†Ô∏è Recursos Neces√°rios

Para a execu√ß√£o deste trabalho, √© necess√°rio a instala√ß√£o de algumas bibliotecas do Python. S√£o elas:

* [ucimlrepo](https://pypi.org/project/ucimlrepo/): para carregar a base de dados.
* [pandas](https://pandas.pydata.org/): para manipula√ß√£o e an√°lise dos dados.
* [scikit-learn](https://scikit-learn.org/stable/): para constru√ß√£o e avalia√ß√£o dos modelos de Machine Learning.
* [matplotlib](https://matplotlib.org/): para visualiza√ß√£o dos dados.
* [seaborn](https://seaborn.pydata.org/): para visualiza√ß√£o dos dados.

---
## üìñ Importando Bibliotecas e Conjunto de Dados

- O conjunto de dados escolhido para este trabalho √© o "Predict students' dropout and academic success", dispon√≠vel no reposit√≥rio UCI Machine Learning. Este conjunto de dados cont√©m informa√ß√µes sobre o desempenho acad√™mico de alunos do ensino m√©dio, incluindo atributos como g√™nero, idade, escolaridade dos pais, tempo de estudo, entre outros. O objetivo √© prever o abandono e o sucesso acad√™mico dos alunos com base nesses atributos.

- Abaixo vamos importar todas as bibliotecas necess√°rias para a execu√ß√£o do trabalho.
---

In [47]:
# !pip install ucimlrepo
# !pip install pandas
# !pip install -U scikit-learn
# !pip install seaborn

from ucimlrepo import fetch_ucirepo
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.45.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\kevin lucas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kevin lucas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kevin lucas\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\kevin lucas\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/294.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/294.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/294.9 kB 262.6 kB/s eta 0:00:02
   --------- ----------------------------- 71.7/294.9 kB 357.2 kB/s eta 0:00:01
   ------------------ ------------------- 143.4/294.9 kB 607.9 kB/s eta 0:00:01
   ------------------------------ ------- 235.5/294.9 kB 901.1 kB/s eta 0:00:01
   ------------------------------------ - 286.7/294.9 kB 983.9 kB/s eta 0:00:01
   -------------------------------------- 294.9/294.9 kB 867.9 kB/s eta 0:00:00
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [40]:
dataset = fetch_ucirepo(id=697) 
  
print("Dataset imported successfully:\n")

for key, value in dataset.metadata.items():
    if isinstance(value, list):
        value_str = ', '.join(map(str, value))
    elif isinstance(value, dict):
        print(f"\n{key.capitalize()}:")
        for sub_key, sub_value in value.items():
            print(f"{sub_key.capitalize()}: {sub_value}")
        continue
    else:
        value_str = value
    print(f"{key.capitalize()}: {value_str}")

Dataset imported successfully:

Uci_id: 697
Name: Predict students' dropout and academic success
Repository_url: https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success
Data_url: https://archive.ics.uci.edu/static/public/697/data.csv
Abstract: A dataset created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies.
The dataset includes information known at the time of student enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters.
The data is used to build classification models to predict students' dropout and academic sucess. The problem is formulated as a three category classification task, in which there is a strong imbalance towards one of the classes.
Area: Other
Tasks: Classification
Characteristics: Tabular
Num_instances: 4424
Num_features: 36
Feature_types:
Demographics: Marital Status, Education Level, Nationality, Occupation, Gender, Age
Target_col: Target
Index_col: None
Has_missing_values: no
Missing_values_symbol: None
Year_of_dataset_creation: 2021
Last_updated: Mon Aug 28 2023
Dataset_doi: 10.24432/C5MC89
Creators: Valentim Realinho, M√≥nica Vieira Martins, Jorge Machado, Lu√≠s Baptista

Intro_paper:
Title: Early prediction of student's performance in higher education: a case study
Authors: M√≥nica V. Martins, Daniel Tolledo, Jorge Machado, Lu√≠s M. T. Baptista, and Valentim Realinho
Published_in: Trends and Applications in Information Systems and Technologies
Year: 2021
Url: http://www.worldcist.org/2021/
Doi: http://www.doi.org/10.1007/978-3-030-72657-7_16

Additional_info:
Summary: None
Purpose: The dataset was created in a project that aims to contribute to the reduction of academic dropout and failure in higher education, by using machine learning techniques to identify students at risk at an early stage of their academic path, so that strategies to support them can be put into place.

The dataset includes information known at the time of student enrollment ‚Äì academic path, demographics, and social-economic factors.

The problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the course.

Funded_by: This dataset is supported by program SATDAP - Capacita√ß√£o da Administra√ß√£o P√∫blica under grant POCI-05-5762-FSE-000191, Portugal.
Instances_represent: Each instance is a student
Recommended_data_splits: The dataset was used, in our project, with a data split of 80% for training and 20% for test.
Sensitive_data: None
Preprocessing_description: We performed a rigorous data preprocessing to handle data from anomalies, unexplainable outliers, and missing values.
Variable_info: None
Citation: If you use this dataset in experiments for a scientific publication, please kindly cite our paper:
M.V.Martins, D. Tolledo, J. Machado, L. M.T. Baptista, V.Realinho. (2021) "Early prediction of student‚Äôs performance in higher education: a case study" Trends and Applications in Information Systems and Technologies, vol.1, in Advances in Intelligent Systems and Computing series. Springer. DOI: 10.1007/978-3-030-72657-7_16

---
## üìä Tratamento da Base de Dados

In [45]:
# Obtendo par√¢metros e alvos do dataset
X = dataset.data.features
y = dataset.data.targets

# Normalizando os dados uasndo Min-Max Scaler
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)

print("\n\nPrimeiras Linhas dos dados normalizados:\n")
print(X_normalized[:5])

(4424, 36)


Primeiras Linhas dos dados normalizados:

[[0.         0.28571429 0.55555556 0.0138582  1.         0.
  0.28421053 0.         0.41860465 0.25581395 0.0257732  0.04615385
  0.34       1.         0.         0.         1.         1.
  0.         0.05660377 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.37209302 0.48888889 0.7661823 ]
 [0.         0.25       0.11111111 0.92598915 1.         0.
  0.68421053 0.         0.         0.04651163 0.01546392 0.01538462
  0.5        1.         0.         0.         0.         1.
  0.         0.03773585 0.         0.         0.23076923 0.13333333
  0.23076923 0.74172185 0.         0.         0.26086957 0.18181818
  0.3        0.73589744 0.         0.73255814 0.11111111 0.64068692]
 [0.         0.         0.55555556 0.90751155 1.         0.
  0.28421053 0.         0.8372093  0.8372093  0.04639175 0.04615385
  0.31368421 1.         0.         0.         0.         1.
  0.         0.03773585 0.         0.         0.23076923 0.
  0.         0.         0.         0.         0.26086957 0.
  0.         0.         0.         0.37209302 0.48888889 0.7661823 ]
 [0.         0.28571429 0.22222222 0.97810805 1.         0.
  0.28421053 0.         0.86046512 0.8372093  0.0257732  0.01538462
  0.25894737 1.         0.         0.         1.         0.
  0.         0.05660377 0.         0.         0.23076923 0.17777778
  0.23076923 0.71144749 0.         0.         0.26086957 0.3030303
  0.25       0.66769231 0.         0.20930233 0.         0.12417437]
 [0.2        0.67857143 0.11111111 0.80146616 0.         0.
  0.05263158 0.         0.8372093  0.86046512 0.04639175 0.04615385
  0.48947368 0.         0.         0.         1.         0.
  0.         0.52830189 0.         0.         0.23076923 0.2
  0.19230769 0.65342163 0.         0.         0.26086957 0.18181818
  0.3        0.7        0.         0.73255814 0.11111111 0.64068692]]

--- 
# üìà An√°lise Estat√≠stica

---
# üí° Conceitos

- Em aprendizado de m√°quina, espcialmente em tarefas de modelagem preditiva, `X` √© frequentemente usado para representar as features ou vari√°veis independentes do conjunto de dados.
Em outras palavras, `X` √© uma matriz ou DataFrame que cont√©m as informa√ß√µes sobre as caracter√≠sticas ou atributos dos dados que s√£o utilizados para fazer previs√µes.

- Por outro lado, `y` √© frequentemente usado para representar o target dependente ou resposta do conjunto de dados. Em outras palavras, `y` √© um vetor que cont√©m as informa√ß√µes sobre a vari√°vel que queremos prever.

Na pr√°tica:
- `X`: Conjunto de dados das features ou vari√°veis independentes.
- `y`: Conjunto de dados do target dependente ou resposta.

---
# Bloco de Teste

- Utilize o bloco abaixo para efetuar os testes necess√°rios para o desenvolvimento do trabalho.

In [42]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
dataset = fetch_ucirepo(id=697) 
  
# data (as pandas dataframes) 
X = dataset.data.features 
y = dataset.data.targets 

print(dataset.data)

{'ids': None, 'features':       Marital Status  Application mode  Application order  Course  \
0                  1                17                  5     171
1                  1                15                  1    9254
2                  1                 1                  5    9070
3                  1                17                  2    9773
4                  2                39                  1    8014
...              ...               ...                ...     ...
4419               1                 1                  6    9773
4420               1                 1                  2    9773
4421               1                 1                  1    9500
4422               1                 1                  1    9147
4423               1                10                  1    9773

      Daytime/evening attendance  Previous qualification  \
0                              1                       1
1                              1                       1
2                              1                       1
3                              1                       1
4                              0                       1
...                          ...                     ...
4419                           1                       1
4420                           1                       1
4421                           1                       1
4422                           1                       1
4423                           1                       1

      Previous qualification (grade)  Nacionality  Mother's qualification  \
0                              122.0            1                      19
1                              160.0            1                       1
2                              122.0            1                      37
3                              122.0            1                      38
4                              100.0            1                      37
...                              ...          ...                     ...
4419                           125.0            1                       1
4420                           120.0          105                       1
4421                           154.0            1                      37
4422                           180.0            1                      37
4423                           152.0           22                      38

      Father's qualification  ...  \
0                         12  ...
1                          3  ...
2                         37  ...
3                         37  ...
4                         38  ...
...                      ...  ...
4419                       1  ...
4420                       1  ...
4421                      37  ...
4422                      37  ...
4423                      37  ...

      Curricular units 1st sem (without evaluations)  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0
...                                              ...
4419                                               0
4420                                               0
4421                                               0
4422                                               0
4423                                               0

      Curricular units 2nd sem (credited)  \
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
...                                   ...
4419                                    0
4420                                    0
4421                                    0
4422                                    0
4423                                    0

      Curricular units 2nd sem (enrolled)  \
0                                       0
1                                       6
2                                       6
3                                       6
4                                       6
...                                   ...
4419                                    6
4420                                    6
4421                                    8
4422                                    5
4423                                    6

      Curricular units 2nd sem (evaluations)  \
0                                          0
1                                          6
2                                          0
3                                         10
4                                          6
...                                      ...
4419                                       8
4420                                       6
4421                                       9
4422                                       6
4423                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                       0                          0.000000
1                                       6                         13.666667
2                                       0                          0.000000
3                                       5                         12.400000
4                                       6                         13.000000
...                                   ...                               ...
4419                                    5                         12.666667
4420                                    2                         11.000000
4421                                    1                         13.500000
4422                                    5                         12.000000
4423                                    6                         13.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                  0               10.8
1                                                  0               13.9
2                                                  0               10.8
3                                                  0                9.4
4                                                  0               13.9
...                                              ...                ...
4419                                               0               15.5
4420                                               0               11.1
4421                                               0               13.9
4422                                               0                9.4
4423                                               0               12.7

      Inflation rate   GDP
0                1.4  1.74
1               -0.3  0.79
2                1.4  1.74
3               -0.8 -3.12
4               -0.3  0.79
...              ...   ...
4419             2.8 -4.06
4420             0.6  2.02
4421            -0.3  0.79
4422            -0.8 -3.12
4423             3.7 -1.70

[4424 rows x 36 columns], 'targets':         Target
0      Dropout
1     Graduate
2      Dropout
3     Graduate
4     Graduate
...        ...
4419  Graduate
4420   Dropout
4421   Dropout
4422  Graduate
4423  Graduate

[4424 rows x 1 columns], 'original':       Marital Status  Application mode  Application order  Course  \
0                  1                17                  5     171
1                  1                15                  1    9254
2                  1                 1                  5    9070
3                  1                17                  2    9773
4                  2                39                  1    8014
...              ...               ...                ...     ...
4419               1                 1                  6    9773
4420               1                 1                  2    9773
4421               1                 1                  1    9500
4422               1                 1                  1    9147
4423               1                10                  1    9773

      Daytime/evening attendance  Previous qualification  \
0                              1                       1
1                              1                       1
2                              1                       1
3                              1                       1
4                              0                       1
...                          ...                     ...
4419                           1                       1
4420                           1                       1
4421                           1                       1
4422                           1                       1
4423                           1                       1

      Previous qualification (grade)  Nacionality  Mother's qualification  \
0                              122.0            1                      19
1                              160.0            1                       1
2                              122.0            1                      37
3                              122.0            1                      38
4                              100.0            1                      37
...                              ...          ...                     ...
4419                           125.0            1                       1
4420                           120.0          105                       1
4421                           154.0            1                      37
4422                           180.0            1                      37
4423                           152.0           22                      38

      Father's qualification  ...  Curricular units 2nd sem (credited)  \
0                         12  ...                                    0
1                          3  ...                                    0
2                         37  ...                                    0
3                         37  ...                                    0
4                         38  ...                                    0
...                      ...  ...                                  ...
4419                       1  ...                                    0
4420                       1  ...                                    0
4421                      37  ...                                    0
4422                      37  ...                                    0
4423                      37  ...                                    0

      Curricular units 2nd sem (enrolled)  \
0                                       0
1                                       6
2                                       6
3                                       6
4                                       6
...                                   ...
4419                                    6
4420                                    6
4421                                    8
4422                                    5
4423                                    6

      Curricular units 2nd sem (evaluations)  \
0                                          0
1                                          6
2                                          0
3                                         10
4                                          6
...                                      ...
4419                                       8
4420                                       6
4421                                       9
4422                                       6
4423                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                       0                          0.000000
1                                       6                         13.666667
2                                       0                          0.000000
3                                       5                         12.400000
4                                       6                         13.000000
...                                   ...                               ...
4419                                    5                         12.666667
4420                                    2                         11.000000
4421                                    1                         13.500000
4422                                    5                         12.000000
4423                                    6                         13.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                  0               10.8
1                                                  0               13.9
2                                                  0               10.8
3                                                  0                9.4
4                                                  0               13.9
...                                              ...                ...
4419                                               0               15.5
4420                                               0               11.1
4421                                               0               13.9
4422                                               0                9.4
4423                                               0               12.7

      Inflation rate   GDP    Target
0                1.4  1.74   Dropout
1               -0.3  0.79  Graduate
2                1.4  1.74   Dropout
3               -0.8 -3.12  Graduate
4               -0.3  0.79  Graduate
...              ...   ...       ...
4419             2.8 -4.06  Graduate
4420             0.6  2.02   Dropout
4421            -0.3  0.79   Dropout
4422            -0.8 -3.12  Graduate
4423             3.7 -1.70  Graduate

[4424 rows x 37 columns], 'headers': Index(['Marital Status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')}